<h1>Welcome to bucket list</h1>

<%= link_to 'create a list', new_list_path, class:"waves-effect waves-light btn" %>
<%= link_to 'All lists', lists_path, class:"waves-effect waves-light btn" %>


<h2>Welcome to Home#index </h2>


