@import 'materialize';


$primary-color: color("materialize-red", "lighten-2") !default;

.hero {
color: #648880;
padding: 22px 80px 15px 80px;
text-align: center;
}

.primary-footer {
color: #648880;
font-size: 14px;
padding-bottom: 44px;
padding-top: 0px; }

body {
	background-image: url('IMG_1890.jpg');
	background-repeat: no-repeat;
	background-size: cover;

}

.primary-header a:hover,
.primary-footer a:hover {
color: #648880;
}